<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title><%= title %></title>
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Muster Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <link href='http://fonts.useso.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
  <script src="/scripts/jquery.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/flexslider.css" type="text/css" media="screen" />
</head>
<body>
<div class="header">
  <div class="header-top">
    <div class="container">
      <div class="head-left">
        <ul class="number">
          <li><span><i class="phone"> </i>+0123 456 789</span></li>
          <li><a href="mailto:info@example.com"><i class="mail"> </i>hello@address.com</a></li>
          <div class="clearfix"> </div>
        </ul>
      </div>
      <div class="head-right">
        <ul>
          <li><a href="#"><i class="fb"> </i></a></li>
          <li><a href="#"><i class="twt"> </i></a></li>
          <li><a href="#"><i class="ttt"> </i></a></li>
          <li><a href="#"><i class="ve"> </i></a></li>
          <li><a href="#"><i class="in"> </i></a></li>
          <li><a href="#"><i class="dib"> </i></a></li>
          <li><a href="#"><i class="fli"> </i></a></li>
          <li><a href="#"><i class="rss"> </i></a></li>
          <div class="clearfix"> </div>
        </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <div class="header-bottom">
    <div class="container">
      <div class="logo">
        <a href="index.html"><img src="images/logo.png" class="img-responsive" alt=""></a>
      </div>
      <div class="head-nav">
        <span class="menu"> </span>
        <ul class="cl-effect-3">
          <li class="active"><a title="主页" href="/">主页</a></li>
          <li><a title="存档" href="/archive">存档</a></li>
          <li><a title="标签" href="/tags">标签</a></li>
          <li><a title="友情链接" href="/links">友情链接</a></li>
          <% if (user) { %>
            <li><a title="上传" href="/upload">上传</a></li>
            <li><a title="发表" href="/post">发表</a></li>
            <li><a title="登出" href="/logout">登出</a></li>
          <% } else { %>
            <li><a title="登录" href="/login">登录</a></li>
            <li><a title="注册" href="/reg">注册</a></li>
          <% } %>

          <div class="clearfix"> </div>

        </ul>
        <!-- script-for-nav -->
        <script>
          $( "span.menu" ).click(function() {
            $( ".head-nav ul" ).slideToggle(300, function() {
              // Animation complete.
            });
          });
        </script>
        <!-- script-for-nav -->
      </div>
      <div class="header-right1">
        <li><a href="login.html">Login</a></li>
        <li><a href="register.html">Sign In</a></li>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<article>

<% if (success) { %>
  <div><%= success %></div>
<% } %>
<% if (error) { %>
  <div><%= error %> </div>
<% } %>