<%- include header %>




<form method="post">
  用户名：<input type="text" name="name"/><br />
  密码：  <input type="password" name="password"/><br />
          <input type="submit" value="登录"/>
</form>


<!-- login -->
<div class="login-page">
    <div class="container">
        <div class="account_grid">
            <div class="col-md-6 login-left wow fadeInLeft" data-wow-delay="0.4s">
                <h3>NEW CUSTOMERS</h3>
                <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
                <a class="acount-btn" href="register.html">Create an Account</a>
            </div>
            <div class="col-md-6 login-right wow fadeInRight" data-wow-delay="0.4s">
                <h3>REGISTERED CUSTOMERS</h3>
                <p>If you have an account with us, please log in.</p>
                <form>
                    <div>
                        <span>Email Address<label>*</label></span>
                        <input type="text">
                    </div>
                    <div>
                        <span>Password<label>*</label></span>
                        <input type="password">
                    </div>
                    <a class="forgot" href="#">Forgot Your Password?</a>
                    <input type="submit" value="登录">
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- login -->





<%- include footer %>