<%- include header %>
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/about.css">
</head>
<body>
  <!--标题：<br />-->
  <!--<input type="text" name="title" /><br />-->
  <!--标签：<br />-->
  <!--<input type="text" name="tag1" /><input type="text" name="tag2" /><input type="text" name="tag3" /><br />-->
  <!--正文：<br />-->
  <!--<textarea name="post" rows="20" cols="100"></textarea><br />-->
  <!--<input type="submit" value="发表" />-->
  <div class="main-wrap">
    <form method="post" id="post_section">

      <h1>发布新闻</h1>
      <h3>新闻标题：</h3>
      <input type="text" name="title" placeholder="请输入新闻标题">
      <h3>正文</h3>
      <textarea name="post" placeholder="请输入您发现的问题以及建议，我们会一一查看并进快给您回复~"></textarea>

      <input type="submit" value="提交" class="btn">
    </form>
  </div>


</body>
</html>

<%- include footer %>