@import "style";
.main-wrap{
  .about-left{
    width: 200px;
    height: 1000px;
    padding-top: 40px;
    li{
      height: 50px;
      line-height: 50px;
      font-size: 16px;
      text-align: center;
      a{
        color: #666;
      }
    }
    li.active{
      background: #f7f7f7;
      border-bottom: 1px solid #fff;
      border-top: 1px solid #fff;
    }
  }
  .about-right{
    width: 940px;
  }
  h1{
    text-align: center;
    font-size: 40px;
    line-height: 80px;
    color: $main-blue;
  }

  .main-container{
    padding: 0 80px;
    p{
      text-indent: 28px;
    }
    image{
      display: block;
      width: 80%;
    }
    .intro{
      overflow: hidden;
      line-height: 28px;
      height: 100%;
      padding: 0 0 20px;
      ul{
        padding-left: 28px;
      }
      ul,li{
        list-style: circle;
      }
    }

  }
  #section02{

  }
  #section03{
    ul{
      width: 99%;
      margin-bottom: 20px;
    }
    li{
      width: 33%;
      height: 80px;
      text-align: center;
      float: left;
    }
    i{
      display: block;
      font-size: 36px;
      color: $main-blue;
    }
  }
  #section04,#post_section,#post_comment{
    margin-bottom: 20px;
    h3{
      text-align: center;
      margin: 10px;
    }
    textarea,input{
      display: block;
      outline: none;
      border: 2px solid #999;
      padding: 10px 20px;
      resize: none;
      width: 80%;
      margin: 0 auto;
    }
    textarea{
      height: 200px;
    }
    .btn{
      display: block;
      width: 200px;
      margin: 20px auto;
      background: transparent;
      color: $main-blue;
      border: 1px solid $main-blue;
      padding: 6px 40px;
      font-size: 24px;
      transition: background 0.5s ease;
      &:hover{
        background: $main-blue;
        color: #fff;
      }
    }
  }
  .news-box{
    padding: 20px;
    margin: 10px 80px;
    box-shadow: 1px 3px 3px 1px #efefef;
    cursor: pointer;
    transition: background 1s ease;
    position: relative;
    &:hover{
      background: rgba(239, 239, 239, 0.26);
    }
  }
  .news-left{
    width: 70%;
    padding-right: 22px;
    .info{
      font-size: 16px;
      padding: 10px 0;
    }
  }
  .news-right{
    width: 30%;
    a{
      display: block;
      color: #337ab7;
    }
    img{
      width: 240px;
      height: 135px;
    }
  }
  .news-content{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 24px;
    color: #666;
  }
  .news-contents{
    font-size: 24px;
    color: #666;
  }
  .news-date{
    font-size: 16px;
    color: $main-blue;
  }
  .post-title{
    text-align: center;
    color: $main-blue;
  }
}
.prepage,.nextpage{
  display: block;
  padding: 10px;
  width: 42px;
  line-height: 20px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  float: right;
  background: #fff;
  transition: background .5s ease;
  box-shadow: 1px 1px 1px 1px #efefef;
  a{
    color: $main-blue;
  }
  &:hover{
    background: $main-blue;
    a{
      color: #fff;
    }
  }
}